.card {
    height: 300px;
}

@media all and (max-width: 1024px) {
    .card {
        margin-bottom: 5%;
        height: 100%;
    }
}

.card__heading {
    margin: 65px 0 20px 0;
}

.card__body {
    max-width: 250px;
    line-height: 175%;
}

@media all and (max-width: 768px) {
    .card__body {
        max-width: 100%;
    }
}

.card__body__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__body__list__item {
    margin-top: -10px;
    margin-bottom: 20px;
}

.card {
    height: 300px;
}

@media all and (max-width: 1024px) {
    .card {
        margin-bottom: 5%;
        height: 100%;
    }
}

.card__heading {
    margin: 65px 0 20px 0;
}

.card__body {
    max-width: 250px;
    line-height: 175%;
}

@media all and (max-width: 768px) {
    .card__body {
        max-width: 100%;
    }
}

.card__body__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__body__list__item {
    margin-top: -10px;
    margin-bottom: 20px;
}

.jumbotron {
    margin: 0 auto;
    width: 960px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 160px;
}

@media all and (max-width: 960px) {
    .jumbotron {
        width: 100%;
        margin: 0;
    }
}

@media all and (max-width: 960px) {
    .jumbotron {
        height: 100%;
    }
}

.jumbotron__body {
    font-weight: lighter;
}

.jumbotron__icon {
    position: absolute;
    left: 50%;
    top: -15px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 30px;
    height: 30px;
    padding-top: 10px;
    color: #ffffff;
    background-color: #d2d2d2;
    border: 2px solid #b1b1b1;
    border-radius: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.25em;
}

.jumbotron__button {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: -28px;
    display: inline-block;
    padding: 15px 0;
    width: 170px;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    background: #323a43;
    background: linear-gradient(to bottom, #323a43 0%, #1f262d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#323a43', endColorstr='#1f262d', GradientType=0);
}

.jumbotron__button:hover {
    text-decoration: underline;
}

.gallery__image__container,
.article__main__media__container,
.comment__aside__avatar__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-bottom: 1px solid #b7b7b7;
}

.gallery {
    margin: 0 auto;
    width: 960px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media all and (max-width: 960px) {
    .gallery {
        width: 100%;
        margin: 0;
    }
}

.gallery__image {
    padding: 0;
    margin: 0;
    width: 140px;
    height: 95px;
    box-shadow: inset 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
}

.gallery__image__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.gallery__image__icon {
    position: relative;
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background: #fffefe;
    background: linear-gradient(to bottom, #fffefe 0%, #d9d9d9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fffefe', endColorstr='#d9d9d9', GradientType=0);
}

.gallery__image__icon:hover {
    cursor: pointer;
}

.gallery__image__icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gallery__image__icon--open {
    color: #000000;
    text-decoration: none;
    margin-right: 5px;
}

.gallery__image__icon--media {
    margin-left: 5px;
}

.gallery__image__icon__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    width: 70px;
    height: 30px;
    transition: opacity 0.3s ease-in-out;
}

.gallery__image__container {
    position: relative;
    padding: 0;
    margin: 35px;
    width: 155px;
    height: 110px;
}

.card {
    height: 300px;
}

@media all and (max-width: 1024px) {
    .card {
        margin-bottom: 5%;
        height: 100%;
    }
}

.card__heading {
    margin: 65px 0 20px 0;
}

.card__body {
    max-width: 250px;
    line-height: 175%;
}

@media all and (max-width: 768px) {
    .card__body {
        max-width: 100%;
    }
}

.card__body__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card__body__list__item {
    margin-top: -10px;
    margin-bottom: 20px;
}

.card {
    position: relative;
}

.card__heading--dark {
    color: #1f262d;
}

.card__heading--light {
    color: #ffffff;
}

.card__body--dark {
    color: #838383;
}

.card__body--light {
    color: #8b949d;
}

.card__body__list__item--light {
    color: #8b949d;
    text-shadow: 1px 1px 2px #000000;
}

.card__body__list__item--light:before {
    margin-right: 10px;
    font-size: 1.5em;
    content: '• ';
    color: #171c25;
    text-shadow: 1px 1px 2px #374048;
}

.card__button {
    float: right;
    margin-top: 10px;
    padding: 4.5px 15px;
    border: 1px solid #ffffff;
    border-top: none;
    border-radius: 10px;
    text-decoration: none;
    color: #1c2329;
    background: #fdfdfd;
    background: linear-gradient(to bottom, #fdfdfd 0%, #efefef 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#efefef', GradientType=0);
}

.card__button:hover {
    text-decoration: underline;
}

.card__icon {
    position: absolute;
    top: 10px;
    left: -50px;
    width: 40px;
    height: 40px;
}

.card__icon[data-index="1"] {
    background-image: url("../images/icons-sprite.png");
    background-position: 0px, 0;
}

.card__icon[data-index="2"] {
    background-image: url("../images/icons-sprite.png");
    background-position: -40px, 0;
}

.card__icon[data-index="3"] {
    background-image: url("../images/icons-sprite.png");
    background-position: -80px, 0;
}

@media all and (max-width: 960px) {
    .card__icon {
        display: none;
    }
}

.widget {
    height: auto;
    max-width: 260px;
    margin-left: 75px;
}

@media all and (max-width: 768px) {
    .widget {
        margin: 0 10px;
    }
}

.widget:first-child {
    margin-top: 95px;
}

.widget__heading {
    margin: 30px 0 15px 0;
}

.widget__body {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dadada;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 60%, #f7f7f7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
}

.widget__body__list {
    margin: 0;
    padding-left: 15px;
}

.widget__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;
}

.form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 300px;
    height: 100%;
    width: 490px;
    margin: 30px auto;
    padding: 35px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
}

@media all and (max-width: 500px) {
    .form {
        width: 100%;
    }
}

.form__title {
    margin: 20px 0;
    padding: 0;
}

.form__label {
    text-align: center;
    display: block;
    margin: 5px 0;
}

.form__input--text {
    display: block;
    height: 35px;
    width: 80%;
    padding-left: 5px;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    transition: border 0.3s ease-in-out;
}

.form__input--text:focus {
    border: 2px solid #000000;
    outline: none;
}

.form__input--textarea {
    display: block;
    width: 80%;
    height: 125px;
    padding-left: 5px;
    resize: none;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    transition: border 0.3s ease-in-out;
}

.form__input--textarea:focus {
    border: 2px solid #000000;
    outline: none;
}

.form__input--select {
    display: block;
    height: 35px;
    width: 80%;
    border: 2px solid #e7e7e7;
    background-color: #f3f3f3;
    transition: border 0.3s ease-in-out;
}

.form__input--select:focus {
    border: 2px solid #000000;
    outline: none;
}

.form__input--submit {
    float: right;
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    transition: border 0.3s ease-in-out;
}

.form__input--submit:hover {
    border: 1px solid #000000;
}

.carrousel {
    position: relative;
    margin: 85px 0;
}

.carrousel__image {
    display: block;
    width: 20%;
    height: 170px;
    margin: 0 10px;
    background: #1a2c33;
}

.carrousel__image>img {
    width: 100%;
    height: 100%;
}

.carrousel__image--active {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    z-index: 2;
    width: 420px;
    height: 300px;
    background: #25575e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 40px 15px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 480px) {
    .carrousel__image--active {
        width: 100%;
    }
}

.carrousel__image--active__overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 87, 94, 0.4);
    transition: opacity 0.2s ease-in-out;
}

.carrousel__image__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.carrousel__arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: #cccccc;
    font-size: 2.5em;
}

.carrousel__arrow:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carrousel__arrow:hover {
    cursor: pointer;
}

.carrousel__arrow--left {
    left: 20px;
}

.carrousel__arrow--right {
    right: 20px;
}

.carrousel__icon {
    position: relative;
    margin: 0;
    width: 40px;
    height: 40px;
    color: #cccccc;
    font-size: 2.5em;
}

.carrousel__icon:hover {
    cursor: pointer;
}

.carrousel__icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carrousel__icon--open {
    color: #cccccc;
    text-decoration: none;
    margin-left: 20px;
}

.carrousel__icon--media {
    margin-right: 20px;
}

.carrousel__icon__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.carrousel__title {
    margin: 0;
    padding: 0 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ffffff;
}

.carrousel__title__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
}

.carrousel__container {
    width: 100%;
    height: 340px;
}