.footer {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    position: relative;
}

@media all and (max-width: 1020px) {
    .footer {
        width: 100%;
        margin: 0;
    }
}

@media all and (max-width: 960px) {
    .footer {
        margin: 0;
    }
}

.footer__navigation {
    margin: 0 auto;
    width: 960px;
    height: 68px;
}

@media all and (max-width: 1020px) {
    .footer__navigation {
        width: 100%;
        padding: 0 15px;
        margin: 0;
    }
}

@media all and (max-width: 768px) {
    .footer__navigation {
        height: 136px;
    }
}

@media all and (max-width: 480px) {
    .footer__navigation {
        display: none;
    }
}

.footer__navigation__container {
    width: 100%;
    background: #0f1319;
    background: linear-gradient(to right, #0f1319 0%, #1d2329 50%, #0f1319 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f1319', endColorstr='#0f1319', GradientType=1);
}

.footer__container {
    box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-top: 2px solid #1c2229;
    background: #11161c;
    background: linear-gradient(to right, #11161c 0%, #303841 50%, #11161c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#11161c', endColorstr='#11161c', GradientType=1);
}

.footer__card {
    height: 250px;
    margin-left: 0;
    width: 80%;
    position: relative;
}

.footer__card__body {
    margin-top: 5px;
}

@media all and (max-width: 960px) {
    .footer__card {
        margin-bottom: 5%;
    }
}

@media all and (max-width: 640px) {
    .footer__card {
        margin-bottom: 0;
        height: 100%;
    }
}