@import '3-placeholders/1-p-ui-components/2-read-more-button';
@import '3-placeholders/2-p-content/1-media-container';

$text-shadow: 1px 2px 2px #ffffff;

.article {
	&__header {
		&__title {
			@extend %h3;
			font-weight: lighter;
			color: #505050;
			margin: 0;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		&__info {
			@extend %h6;
			font-weight: lighter;
			color: #505050;
			margin: 0;
			padding-top: 15px;
			padding-bottom: 20px;
			text-shadow: $text-shadow;
		}
	}
	
	&__main {
		margin-bottom: 85px;
		min-height: 225px;
		
		&__media {
			width: 215px;
			height: 215px;
			
			&__container {
				@extend %media__container;
				float: left;
				width: 225px;
				height: 225px;
				margin-right: 25px;
			}
		}
		
		&__body {
			@extend %p;
			max-width: 100%;
			color: #838383;
			text-shadow: $text-shadow;
		}
	}
	
	&__footer {
		height: 100%;
		&__info {
			@extend %h5;
			font-weight: lighter;
			margin-bottom: 18px;
			text-shadow: $text-shadow;
		}
		
		&__comments {
			margin-top: 30px;
			margin-bottom: 45px;
		}
		
		&__comment {
			margin-bottom: 30px;
		}
		
		&__button {
			@extend %read-more-button;
		}
	}
}