@import 'mixins';
@import '3-placeholders/1-p-ui-components/1-card.scss';

$navigation-height: 	68px;


.footer {
	@include _960();
	height: 100%;
	position: relative;
	
	@media all and (max-width: 960px) {
		margin: 0;
	}
	
	&__navigation {
		@include _960();
		height: $navigation-height;
		@media all and (max-width: 960px) {
			padding: 0 15px;
			width: 100%;
		} @media all and (max-width: 768px) {
			height: $navigation-height * 2;
		} @media all and (max-width: 480px) {
			display: none;
		}
		
		&__container {
			width: 100%;
			background: #0f1319;
			background: -moz-linear-gradient(left,  #0f1319 0%, #1d2329 50%, #0f1319 100%);
			background: -webkit-linear-gradient(left,  #0f1319 0%,#1d2329 50%,#0f1319 100%);
			background: linear-gradient(to right,  #0f1319 0%,#1d2329 50%,#0f1319 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1319', endColorstr='#0f1319',GradientType=1 );
		}
	}
	
	&__container {
		box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.5);
		width: 100%;
		border-top: 2px solid #1c2229;		
		background: rgb(17,22,28);
		background: -moz-linear-gradient(left,  rgba(17,22,28,1) 0%, rgba(48,56,65,1) 50%, rgba(17,22,28,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(17,22,28,1) 0%,rgba(48,56,65,1) 50%,rgba(17,22,28,1) 100%);
		background: linear-gradient(to right,  rgba(17,22,28,1) 0%,rgba(48,56,65,1) 50%,rgba(17,22,28,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11161c', endColorstr='#11161c',GradientType=1 );
	}
}