@import 'mixins';
@import '3-placeholders/2-p-content/1-media-container';

.gallery {
	@include _960();
	@include center-children();
	flex-direction: row;
	flex-wrap: wrap;
	
	&__image {
		padding: 0;
		margin: 0;
		width: 140px;
		height: 95px;
		box-shadow: inset 2.5px 2.5px 5px 0px rgba(0,0,0,0.5);
		
		&__overlay {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.2);
			transition: opacity 0.3s ease-in-out;
		}
		
		&__icon {
			position: relative;
			margin: 0;
			width: 30px;
			height: 30px;
			border: 1px solid #ffffff;
			border-radius: 50%;
			background: #fffefe;
			background: -moz-linear-gradient(top,  #fffefe 0%, #d9d9d9 100%);
			background: -webkit-linear-gradient(top,  #fffefe 0%,#d9d9d9 100%);
			background: linear-gradient(to bottom,  #fffefe 0%,#d9d9d9 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefe', endColorstr='#d9d9d9',GradientType=0 );
			
			&:hover {
				cursor: pointer;
			}
			
			&:before {
				@include center-self();
			}
			
			&--open {
				color: #000000;
				text-decoration: none;
				margin-right: 5px;
			}
			
			&--media {
				margin-left: 5px;
			}
			
			&__container {
				@include center-self();
				@include center-children();
				opacity: 0;
				width: 70px;
				height: 30px;
				transition: opacity 0.3s ease-in-out;
			}
		}
		
		&__container {
			@extend %media__container;
			position: relative;
			padding: 0;
			margin: 35px;
			width: 155px;
			height: 110px; 
		}
	}
}