<div class="row">
    <div class="large-8 medium-12 small-12 columns"><h5 class="page__path">Home >> <span class="page__path--active">About us</span>
    </h5>
        <div class="page__break"></div>
        <article class="main__article article">
            <div class="article__main__about">
                <div class="article__main__body"> Nullam eget elit vestibulum, ullamcorper turpis sodales, posuere
                    dolor. Integer bibendum purus in euismod scelerisque. Proin libero purus, posuere sed feugiat id,
                    dapibus eget nibh. Suspendisse posuere neque et libero ullamcorper rhoncus. Cras maximus gravida
                    nisi, sed auctor enim venenatis ac. Integer luctus, sapien a congue elementum, mauris leo dignissim
                    eros, nec gravida purus ipsum ac lectus. Proin hendrerit dolor felis. Etiam in massa nec dolor
                    tincidunt dictum cursus a quam. Suspendisse laoreet ipsum venenatis, sollicitudin sem accumsan,
                    auctor nisi. Donec eleifend turpis eget ipsum pellentesque, a ullamcorper nisl tristique. Mauris
                    quam dui, dignissim id orci quis, ornare facilisis dui. Donec ipsum dui, eleifend tempor condimentum
                    id, molestie vitae dolor.Nunc ornare, purus quis posuere tincidunt, neque nisl efficitur tellus, ut
                    volutpat justo ante eget ligula. Vivamus vestibulum mollis auctor. Phasellus id nulla eu nulla
                    euismod porta. Donec vel pellentesque enim. Donec condimentum lectus ligula, eu ornare odio viverra
                    ut. Sed vestibulum ex felis, convallis dignissim metus viverra eu. Praesent posuere ex non ultrices
                    fringilla. Nullam vitae dictum tortor.Donec interdum vitae leo vel elementum. Mauris dui nisl,
                    sodales vel enim in, lobortis molestie diam. Mauris vitae bibendum risus, a iaculis metus. In
                    venenatis, dui in tristique rhoncus, nunc purus lobortis leo, dignissim pulvinar nibh risus quis
                    tortor. Aliquam pretium, massa eget rhoncus tincidunt, nibh dolor convallis elit, sit amet lobortis
                    nisl arcu et diam. Donec bibendum quis massa sit amet semper. Suspendisse facilisis dolor sed
                    malesuada tincidunt.Aenean diam mi, sagittis ut consectetur convallis, porttitor sit amet neque.
                    Mauris rhoncus semper sagittis. Mauris sodales euismod orci eget tincidunt. Sed non sem magna. Nunc
                    condimentum, nibh at iaculis consectetur, urna tortor fermentum felis, ut fringilla velit sem in
                    sapien. Mauris id maximus elit. Morbi sit amet justo ut urna convallis auctor. Aliquam laoreet non
                    sem eu malesuada. Sed suscipit pharetra orci, in congue lectus tristique vitae. Suspendisse egestas
                    hendrerit vulputate. Sed vitae nisi vel velit sodales finibus vitae id leo. Sed consectetur ipsum a
                    massa viverra, vitae laoreet massa condimentum. Fusce diam mi, tincidunt in auctor vitae, gravida at
                    eros. Morbi sit amet nisi ac enim maximus pretium eget ac urna. Pellentesque sodales, arcu vel
                    eleifend tempor, dui sem rhoncus lacus, nec elementum lectus nisl sollicitudin metus. Vivamus
                    lobortis et mauris ac posuere.
                </div>
            </div>
        </article>
    </div>
    <div class="large-4 medium-12 small-12 columns">
        <div class="widget__container">
            {{#each this}}
                {{> widget}}
            {{/each}}
        </div>
    </div>
</div>