<div class="main__quote__container quote__container">
    <div class="quote">
        <h6 class="quote__body"> You must be logged in and be an admin to access this page</h6>
        <a href="#" class="quote__button">Login</a>
    </div>
</div>
<div class="row">
    <div class="large-8 medium-12 small-12 columns">
        <div class="form__container">
            <div class="page__path">Home >> <span class="page__path--active">Admin</span></div>
            <div class="form__title">Create article:</div>
            <div class="page__break"></div>
            <div class="form">
                <label for="title" class="form__label">Title:</label>
                <input type="text" id="title" class="form__input form__input--text"/>
                <label for="body" class="form__label">Body:</label>
                <textarea class="form__input form__input--textarea"></textarea>
                <label for="media" class="form__label">Media:</label>
                <input type="text" id="media" class="form__input form__input--text" placeholder="(image link or YouTube video link)"/>
                <label for="typeofMedia" class="form__label">Type of media:</label>
                <select id="media__type" class="form__input form__input--select">
                <option class="form__input--option">Image</option>
                <option class="form__input--option">Video</option>
                </select>
                <label for="category" class="form__label">Category:</label>
                <select id="category" class="form__input form__input--select">
                <option class="form__input--option">News</option>
                <option class="form__input--option">Events</option>
                <option class="form__input--option">Interviews</option>
                <option class="form__input--option">Records</option>
                </select>
                <input type="submit" value="Post" class="form__input form__input--submit"/>
            </div>
        </div>
    </div>
    <div class="large-4 medium-12 small-12 columns">
        <div class="widget__container">
        {{#each this}}
            {{> widget}}
        {{/each}}
        </div>
    </div>
</div>