<div id="carousel_container" class="carrousel__container">
    <div class="carrousel">
        <div class="carrousel__image--active"><img src={{this.[2].imageUrl}} class="carrousel__image--center">
            <div class="carrousel__image--active__overlay"></div>
            <div class="carrousel__arrow carrousel__arrow--left fa fa-chevron-left"></div>
            <div class="carrousel__icon__container">
                <div class="carrousel__icon carrousel__icon--media"></div>
                <a class="carrousel__icon carrousel__icon--open fi-plus"></a>
            </div>
                <div class="carrousel__title__overlay">
                    <h4 class="carrousel__title">{{this.[2].title}}</h4>
                </div>
            <div class="carrousel__arrow carrousel__arrow--right fa fa-chevron-right"></div>
        </div>
        <div class="carrousel__image__container">
            {{#each this}}
            <div class="carrousel__image"><img src={{this.imageUrl}}></div>
            {{/each}}
        </div>
    </div>
</div>