<div class="main__quote__container quote__container">
    <div class="quote">
        <div class="quote__icon">&ldquo;</div>
        <h6 class="quote__body">{{this}}</h6>
        <a href="#aboutUs" class="quote__button">Additional Info</a>
    </div>
</div>