{{#if @first}}
<aside class="widget"><h5 class="widget__heading widget__heading--first">{{this.heading}}</h5>
{{else}}
<aside class="widget"><h5 class="widget__heading">{{this.heading}}</h5>
{{/if}}
    <div class="widget__body">
        {{this.content}}
    </div>
</aside>